@import 'bootstrap/dist/css/bootstrap.min.css';

@import '~@angular/material/theming';
@include mat-core();



$angular-primary: mat-palette($mat-grey, 900);
$angular-accent : mat-palette($mat-amber, 600);
$angular-warn   : mat-palette($mat-grey, 50);
$angular-default-theme: mat-dark-theme($angular-primary,
  $angular-accent,
  $angular-warn,
  );
@include angular-material-theme($angular-default-theme);

.colorStyle {
  $angular-primary: mat-palette($mat-deep-purple, A700);
  $angular-accent : mat-palette($mat-amber, 600);
  $angular-warn   : mat-palette($mat-grey, 50);
  $angular-default-theme: mat-dark-theme($angular-primary,
    $angular-accent,
    $angular-warn,
    );
  @include angular-material-theme($angular-default-theme);
}

/**Custom scss */
app-root {
  display       : flex;
  flex-direction: column;
  position      : absolute;
  top           : 64px;
  bottom        : 0;
  left          : 0;
  right         : 0;
  width         : 100%;
}

span.spacer {
  flex: 1 1 auto;
}

body {
  background-color: #303030;
  color: #FFFFFF
}