<div class="card bg-dark" *ngFor="let twitchVideo of twitchVideos">
    <div (click)="clickOnCard(twitchVideo.url)" (onKeyPress)="clickOnCard(twitchVideo.url)"
        (onKeyDown)="clickOnCard(twitchVideo.url)" (onKeyUp)="clickOnCard(twitchVideo.url)">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid" width="auto" height="auto" alt="{{twitchVideo.Title}}"
                    src="{{twitchVideo.thumbnail_url}}" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{twitchVideo.title}}</h5>
                    <p class="card-text Twitch-Description">{{twitchVideo.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>